<h1 align="center"> Welcome to <%= @user.username %>'s page<h1>

<div align="center" class="row">
  <div class="mx-auto d-block">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user.articles %>
