<div class="jumbotron">
  <h1 class="display-4">ALPHA BLOG</h1>
  <p class="lead">This is a simple Rails blog. Used as a Rails teaching tool</p>
  <hr class="my-4">
  <%= link_to "Sign up now", "signup", class: "btn btn-dark btn-lg btn-xlarge" %>
</div>
