
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#home {
  text-align: center;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow);
}

#main-menu {
  background-color: #83a832;
}
