<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.seylermartialarts.com">The ultimate martial arts site</a>
      by <a href="http://www.seylermartialarts.com">William E. Seyler<a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
