<div class="row">
  <div class="col-xs-10 col-xs-offset-3">
    <% flash.each do |name, msg| %>
      <div class='alert alert-dismissable alert-<%= "#{name}" %> role="alert"'>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
